{
    "serverName": "",
    "delaySeconds": 0,
    "discord": {
        "prefix": "!",
        "adminIDs": [""],
        "channelIDs": [""],
        "token": ""
    },
    "pm2": {
        "pm2Command": "pm2",
        "mads": [""],
        "ignore": [""]
    },
    "madDB": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "truncateCommand": "truncate",
        "onlyReloadBeforeTime": ""
    }
}
